#home {
	display: table;
	height: 100%;
	width: 100%;
}

#particles-js {
	width: 100%;
	height: 100%;
}

#particles-js h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 500%;
}

.table-cell-wrapper {
    position: absolute;
	width: 100%;
	height: 100%;
}

.table-cell {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
	text-align: center;
}

.navi ul {
	width: 40%;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.navi ul li {
	width: 25%;
}

@media only screen and (max-width: 600px) {
	.navi ul {
		width: 100%;
	}
}