<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My site </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet"> 
		<script src="js/menu.js"></script>
		<script src="js/form.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		</head>
	<body>
		<div class="wrap">
			<div class="navi">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<div class="backtotop"></div>
			<div class="content">
				<div id="home">
					<div id="particles-js">
						<h1><span class="firstSentence">Welcome</span> <span class="secondSentence">to</span> <span class="thirdSentence">my</span> <span class="forthSentence">page</span></h1>
						<div class="scrolldown"></div>
					</div>
				</div>
				<!-- scripts -->
				<script src="js/particles.min.js"></script>
				<script src="js/app.js"></script>
				<div id="about">
					<h1>About</h1>
					<div class="container">
						<div class="profile"></div>
						<div class="profiletext">
							<div class="intro">
								<div class="firstLetter">I</div>
								<div class="introtext">
									<p>
										<strong>am</strong> a programmer from Switzerland. My name is Sergey.
									</p>
									<p>
										<strong>live</strong> in a small town named Winterthur near Zurich. My hobby is coding.
									</p>
									<p>
										<strong>code</strong> on my own. Code capabilities that I have are different. Below, you can find a list with my skills.
									</p>
								</div>
							</div>
							<div class="skillstext">
								<p>
									Skills:
								</p>
								<ul>
									<li>HTML/CSS</li>
									<li>JavaScript (jQuery, ReactJS, a little bit of AngularJS)</li>
									<li>PHP</li>
									<li>Java</li>
									<li>C#</li>
									<li>Omnis Studio</li>
								</ul>
							</div>
							<div class="intro">
								<div class="firstLetter">If</div>
								<div class="introtext">
									<p>
										<strong>you</strong> are looking to hire a programmer, do not hesitate to contact me.
									</p>
									<p>
										<strong>you</strong> want to give suggestion how to improve my site, use contact formular below.
									</p>
									<p>
										<strong>you</strong> like projects that I listed on this website and which deserve some attention, then you can visit my GitHub page and check out my repositories.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="portfolio">
					<h1>Portfolio</h1>
					<div class="containerport">
						<div class="innerleft">
							<img src="img/list_reactjs.png" />
							<div class="clear"></div>
							<span><h3>Project: To-Do List</h3></span>
							<span><strong>Technology:</strong> ReactJS, Bootstrap</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/reactjs_shop_list" target="_blank">https://github.com/spikir/reactjs_shop_list</a></span>
							<span><strong>Codesandbox: </strong><a href="https://codesandbox.io/s/w0v4p352w5" target="_blank">https://codesandbox.io/s/w0v4p352w5</a></span>
						</div>
						<div class="innerright">
							<img src="img/list_flux_reactjs.png" />
							<div class="clear"></div>
							<span><h3>Project: To-Do List</h3></span>
							<span><strong>Technology:</strong> ReactJS Flux</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/reactjs_items_flux" target="_blank">https://github.com/spikir/reactjs_items_flux</a></span>
							<span><strong>Codesandbox: </strong><a href="https://codesandbox.io/s/6l00zl7y3r" target="_blank">https://codesandbox.io/s/6l00zl7y3r</a></span>
						</div>
						<div class="innerleft">
							<img src="img/rsz_webdif3.png" />
							<div class="clear"></div>
							<span><h3>Project: Third Website</h3></span>
							<span><strong>Technology:</strong> HTML, CSS, JavaScript (Jquery)</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/webdif3" target="_blank">https://github.com/spikir/webdif3</a></span>
						</div>
						<div class="innerright">
							<img src="img/rsz_mvc_cart.png" />
							<div class="clear"></div>
							<span><h3>Project: MVC Shopping Cart</h3></span>
							<span><strong>Technology:</strong> PHP, MySQL</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/cart_mvc" target="_blank">https://github.com/spikir/cart_mvc</a></span>
						</div>
						<div class="innerleft">
							<img src="img/rsz_webdif1.png" />
							<div class="clear"></div>
							<span><h3>Project: First Website</h3></span>
							<span><strong>Technology:</strong> HTML, CSS</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/webdif1" target="_blank">https://github.com/spikir/webdif1</a></span>
						</div>
						<div class="innerright">
							<img src="img/rsz_webdif2.png" />
							<div class="clear"></div>
							<span><h3>Project: Second Website</h3></span>
							<span><strong>Technology:</strong> HTML, CSS</span>
							<span><strong>GitHub: </strong><a href="https://github.com/spikir/webdif2" target="_blank">https://github.com/spikir/webdif2</a></span>
						</div>
					</div>
				</div>
				<div id="contact">
					<h1>Contact</h1>
					<div class="containerport">
						<div class="innerleft" ng-controller="formController">
							<form action="send_email.php" method="POST" ng-app="" name="form">
								<label>Name: </label><input type="text" placeholder="Name" name="name" ng-model="text1" required/>
								<span ng-show="form.name.$touched && form.name.$invalid">The name is required</span>
								<label>E-Mail: </label><input type="email" placeholder="E-Mail" name="email" ng-model="text2" required/>
								<span ng-show="form.email.$error.required && form.email.$touched">Email is required</span>
								<span ng-show="form.email.$error.email && form.email.$touched">Invalid email address</span>
								<label>Comment: </label><textarea name="message" rows="10" cols="30" placeholder="Comment"  ng-model="text3" required></textarea>
								<span ng-show="form.message.$touched && form.message.$invalid">Comment is required</span>
								<button class="btn btnstyle">Submit</button>		
							</form>
						</div>
						<div class="innerright">
							<div class="contactphoto"></div>
						</div>
					</div>
				</div>
				<div id="social">
					<div class="icons">
						<a href="https://github.com/spikir" target="_blank"><img src="img/github-8-64.png" /></a>
						<a href="https://www.xing.com/profile/Sergey_Solomenniy/cv"><img src="img/xing-3-64.png" target="_blank" /></a>
					</div>
				</div>
			</div>
			<div class="footer">
				Copyright &copy; 2018
			</div>
		</div>
	</body>
</html>